.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 auto; */
  padding: 0 0.5rem;
  max-width: 1200px;
}

.logo {
  color: #b92b27;
  text-decoration: none;
}

.iconContainer {
  display: flex; /* flex-wrap: no-wrap(기본값) 이용해 다음 줄로 안 내려가게 하기 위해 */
  justify-content: space-between;
  align-items: center;
  margin: auto 1rem;
  /* width: 10rem; */
}

.iconContainer a {
  padding: 0.5rem 1rem;
}

.icons {
  fill: #636466;
  display: flex;
  align-items: center;
  /* width: 1.5rem;
  height: 1.5rem; */
  width: 24px;
  height: 24px;
}

.iconContainer a:hover {
  background-color: #F1F2F2;
  border-radius: 12px;
}

.icons:hover {
  fill: #a6a8aa;
  /* transform: scale(1.1); 아이콘 살짝 커짐 */
}

.icons.clicked {
  fill: #b92b27;
}

.search {
  display: flex;
  align-items: center;
  width: 20rem;
  min-width: 6rem;
  margin-right: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search:hover,
.search:focus {
  border-color: #2E69FF;
}

.searchIcon {
  fill: transparent;
  overflow: visible;
}

.searchBar {
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.searchBar:focus {
  outline: none;
}

.quoraPlusBtn {
  border: 1px solid #DAD2D4;
  border-radius: 20px;
  margin-right: 1.5rem;
  padding: 0.5rem 0.75rem;
  background-color: rgb(244, 244, 244);
  color: #838385;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 4rem;
}

.quoraPlusBtn:hover,
.quoraPlusBtn:focus {
  background-color: #ECECEE;
}

.circleBtn-container {
  display: flex;
}

.userProfile {
  padding: 0.5rem;
  border: none;
  margin-right: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.userProfile:hover {
  background-color: #F1F2F2;
  border-radius: 4px;
}

.userProfile img {
  border-radius: 50%;
  width: 2rem;
}

.langBtn {
  border: none;
  margin-right: 1.5rem;
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

.langBtn:hover {
  background-color: #F1F2F2;
  fill: #a6a8aa;
  border-radius: 4px;
}

.langIcon {
  width: 2rem;
  height: 2.2rem;
}

.btnContainer {
  display: flex;
  align-items: center;
}

.addQBtn {
  background-color: #b92b27;
  color: white;
  border: none;
  padding: 0.5rem 0.8rem;
  white-space: nowrap;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-right: 1px solid rgb(164, 38, 35);
  cursor: pointer;
}

.arrowBtn {
  background-color: #b92b27;
  border: none;
  padding: 0.3rem 0.6rem;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrowIcon {
  fill: transparent;
  stroke: white;
  /* padding: 0.125rem 0.3rem; */
}